@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-bricolage: 'Bricolage Grotesque', sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #d9d9d9;
  --color-brand: #0062d6;
  --color-brand-hover: #00418d;
}

body {
  font-family: var(--font-bricolage);
}

/* 🌿 Calendar states */

[data-outside-view] {
  @apply text-black/30;
}

[data-selected] {
  @apply !bg-brand text-white;
}

[data-highlighted] {
  @apply bg-brand/30;
}

[data-unavailable] {
  @apply pointer-events-none text-black/30 line-through;
}

[data-today]::before {
  content: '';
  @apply block absolute top-[5px] w-1 h-1 rounded-full bg-brand;
}
